body, td, th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	margin-top: 0px;
	margin-bottom: 0px;
}
body {
	background-color: #535353;
}

#pages {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

td.links {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    border: 0;
    vertical-align: top;
    font-weight: bold;
}
